<form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
  <label>L'id de produit</label>
  <input
    type="number"
    id="id"
    name="id"
    class="form-control"
    formControlName="id"
  />
  <div *ngIf="idProduct.invalid && idProduct.dirty" class="alert alert-danger">
    L'identifiant est obligatoire
  </div>
  <label>Le libelle de produit</label>
  <input
    type="text"
    id="libelle"
    name="libelle"
    class="form-control"
    formControlName="libelle"
  />
  <div
    *ngIf="libelleProduit.invalid && libelleProduit.dirty"
    class="alert alert-danger"
  >
    L'identifiant est obligatoire
  </div>
  <br />
  <button
    type="submit"
    class="btn btn-success btn-sm"
    [disabled]="productForm.invalid"
  >
    Enregistrer
  </button>
</form>
