<br />
<h3>Ajout d'un employé</h3>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="Nom"> Nom : </label>
    <input
      type="text"
      id="nom"
      name="nom"
      class="form-control"
      required
      [(ngModel)]="nom"
      #n="ngModel"
      pattern="[A-Z][a-zA-Z]+"
    />
  </div>
  <!-------------------------------Controle de saisie-------------------------------------------------------------------------------->
  <div *ngIf="n.errors?.pattern && n.dirty" class="alert alert -danger">
    Le nom a un format incorrect
  </div>
  <div [hidden]="!n.errors?.required || n.pristine" class="alert alert-danger">
    Le nom est un champ obligatoire
  </div>
  <!--------------------------------------------------------------------------------------------------------------------------------->
  <div class="form-group">
    <label for="Nom"> La fonction : </label>
    <input
      type="text"
      id="fonction"
      name="fonction"
      class="form-control"
      required
      [(ngModel)]="fonction"
      #fonct="ngModel"
      pattern="[A-Z][a-zA-Z]+"
    />
  </div>
  <!-------------------------------Controle de saisie-------------------------------------------------------------------------------->
  <div *ngIf="fonct.errors?.pattern && fonct.dirty" class="alert alert -danger">
    La fonction a un format incorrect
  </div>
  <div
    [hidden]="!fonct.errors?.required || fonct.pristine"
    class="alert alert-danger"
  >
    La fonction est un champ obligatoire
  </div>
  <!--------------------------------------------------------------------------------------------------------------------------------->

  <div><input type="checkbox" />Expert</div>
  <!--------------------------------------------------------------------------------------------------------------------------------->
  <button
    type="submit"
    [disabled]="f.invalid"
    class="btn btn-success btn-success"
  >
    Enregistrer
  </button>
  <!---------------------------------------------------------------------------------------------------------------------------------->
</form>
