<br />

<h3>Ajout d'un employé</h3>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="Nom"> Nom : </label>
    <input
      type="text"
      id="nom"
      name="nom"
      class="form-control"
      required
      [(ngModel)]="nom"
      #n="ngModel"
      pattern="[A-Z][ a-zA-Z]+"
    />
  </div>
  <!-------------------------------Controle de saisie-------------------------------------------------------------------------------->
  <div *ngIf="n.errors?.pattern && n.dirty" class="alert alert-warning">
    Le nom a un format incorrect
  </div>
  <div [hidden]="!n.errors?.required || n.pristine" class="alert alert-danger">
    Le nom est un champ obligatoire
  </div>
  <!--------------------------------------------------------------------------------------------------------------------------------->
  <div class="form-group">
    <label for="Nom" [(ngModel)]="fonction"> La fonction : </label>
    <select [(ngModel)]="fonction">
      <option *ngFor="let t of lesFonctions">{{ t }}</option>
    </select>
  </div>

  <!--------------------------------------------------------------------------------------------------------------------------------->

  <div>
    <input
      type="checkbox"
      [(ngModel)]="expert"
      value="expert"
      name="ex"
    />Expert
  </div>
  <!--------------------------------------------------------------------------------------------------------------------------------->
  <button
    type="submit"
    [disabled]="f.invalid"
    class="btn btn-success btn-success"
  >
    Enregistrer
  </button>
  <!---------------------------------------------------------------------------------------------------------------------------------->
</form>
